@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
html{
    background-color: cadetblue;
    
}
body {
    background-color: cornsilk;
    padding: 5%;
    color: rgb(66, 66, 66);
    min-height: 600px;
}
.page-title{
    font-family: 'Inter', sans-serif;
}
.description{
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Inter', sans-serif;
}
.list-item{
    padding-top: 7px;
}
.title{
    font-size: large;
    font-family: 'Inter', sans-serif;
    padding-right: 5px;
    display: inline-block;
    width: 260px;
}

button{
    padding: 13px;
    font-size: 16px;
    background-color: #4d6485;
    color: rgb(224, 224, 224);
    border-radius: 7px;
    border: 0px
}
input{
    font-size: 20px;
    padding: 4px;

}
input[type=text]:focus {
    border: 3px solid #555;
  }
#candidate-number, #judge-number{
    width: 50px;
}
#mark-header{
    margin-left: 600px;
    font-size: 27px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
}
.candidate-label{
    font-size: 20px;
    display: inline-block;
    padding-right: 5px;
    font-family: 'Inter', sans-serif;
    width: 150px
}
.mark-input{
    width: 50px;
    margin:1%;
}
.calculate-button{
    font-size: 15px;
    padding: 10px;
    margin-left: 15px
}
.final-mark{
    margin-left : 55px;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
}
.candidate-row{
    margin-top: 10px
}
#rank-button{
    margin-top: 20px;
    margin-bottom: 30px;
}

th, td{
    border: 2px groove rgb(71, 71, 104);
    padding: 5;
    font-size: 20px;
    padding: 10px;
    font-family: 'Inter', sans-serif;
}